<header class="bg-white text-gray-700 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-8">
            <a href="#home" class="text-lg font-bold">Home</a>
            <a href="#footer" class="text-sm font-bold">about</a>
            <a href="https://github.com/MyatThiriMaung3/e-commerce_web_app"class="text-sm font-bold" target="_blank" rel="noopener noreferrer">github</a>
        </div>
        <div class="text-xl font-bold">
            L'Ordinateur Très Bien
        </div>
    </div>
</header>